*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*  Button Styles Reset */
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 0;
  background-color: #ababab;
  color: inherit;
}

/*  Quick Fluid Typography */
html {
  font-size: clamp(16px, 0.5rem + 1.8vw, 20px);
}

.fonts-listt-kskjsd {
  font-family: "Archivo", sans-serif;
  font-family: "Lora", serif;
  font-family: "Manrope", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Archivo", sans-serif;
}
h2,
h3,
h4 {
  font-family: "Manrope", sans-serif;
}

html {
  --base-default-bg-color: hsla(0 0% 100% / 100%);
  --contrast-color-max: hsla(0 0% 0% / 100%);
  --contrast-color-high: hsla(0 0% 10% / 100%);
  --contrast-color-medium: hsla(0 0% 25% / 100%);
  --contrast-color-light: hsla(0 0% 50% / 100%);

  --major-accent-color-blue-1: hsla(195 95% 33% / 100%);
  --minor-accent-color-orange-1: hsla(27 94% 49% / 100%);

  --link-button__standard-rounding: 0.5rem;
}

body {
  background-color: var(--base-default-bg-color);
  color: var(--contrast-color-high);
}

.button-link {
  border-radius: var(--link-button__standard-rounding);
  text-transform: uppercase;
  color: var(--base-default-bg-color);
  background-color: var(--minor-accent-color-orange-1);
  padding: 0.8rem 1.2rem;
}

/* 
------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
            Header Styles

------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
*/

.nav-list__list-item {
  font-size: 1.5rem;
  list-style: none;
}

/* 
------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
            Hero Section Styles

------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
*/

.company-name-and-slogan .company-name {
  font-size: 1.2rem;
  color: var(--minor-accent-color-orange-1);
}

/* 
------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------


------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
*/

/* 
------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------


------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
*/
