*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
h1,
h2,
h3,
h4 {
  line-height: 1.1;
}
#root,
#__next {
  isolation: isolate;
}

/*  Button Styles Reset */
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 0;
  background-color: #ababab;
  color: inherit;
}

/*  Quick Fluid Typography */
html {
  font-size: clamp(16px, 0.5rem + 1.8vw, 20px);
}

.fonts-listt-kskjsd {
  font-family: "Archivo", sans-serif;
  font-family: "Lora", serif;
  font-family: "Manrope", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Archivo", sans-serif;
}
h2,
h3,
h4 {
  font-family: "Manrope", sans-serif;
}
h1 {
  line-height: 1.1;
}

html {
  --base-default-bg-color: hsla(0 0% 100% / 100%);
  --contrast-color-max: hsla(0 0% 0% / 100%);
  --contrast-color-high: hsla(0 0% 10% / 100%);
  --contrast-color-medium: hsla(0 0% 25% / 100%);
  --contrast-color-light: hsla(0 0% 50% / 100%);

  --dark-bg__max-contrast-color: hsla(0 0% 100% / 100%);
  --dark-bg__high-contrast-color: hsla(0 0% 80% / 100%);
  --dark-bg__medium-contrast-color: hsla(0 0% 50% / 100%);

  --major-accent-color-blue-1: hsla(195 95% 33% / 100%);
  --major-accent-color-blue-2: hsla(195 85% 95% / 100%);
  --minor-accent-color-orange-1: hsla(27 94% 49% / 100%);

  --header-height: clamp(60px, 19vw, 75px);

  --hero-section__background: radial-gradient(
    52.91% 51.06% at 95.34% 91.73%,
    #0d3b55 0%,
    #032436 100%
  );

  --link-button__standard-rounding: 0.5rem;

  background-color: var(--base-default-bg-color);
}

body {
  color: var(--contrast-color-high);
  position: relative;
  /* padding: 0 0.5rem; */
}

.button-link {
  text-decoration: none;
  border-radius: var(--link-button__standard-rounding);
  text-transform: uppercase;
  color: var(--base-default-bg-color);
  background-color: var(--minor-accent-color-orange-1);
  padding: 0.8rem 1.2rem;
  text-align: center;
  font-weight: 600;
}
.wide-screen-holder {
  padding: 0 0.7rem;
}
.home-page__section-title {
  color: var(--contrast-color-high);
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
}
.home-page__who-we-are-section, .home-page__services-section, .home-page__partner-program-section, .home-page__leadership-team-section, .home-page__customer-success-section, .home-page__contact-section {
  margin-top: 5rem;
}
/* 
------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
            Header Styles

------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
*/
.site-header-holder {
  position: fixed;
  box-shadow: 0px 1px 5px hsla(0 0% 0% / 40%), 0px 1px 10px hsla(0 0% 0% / 20%);
  width: 100%;
  justify-content: space-between;
  z-index: 3;
}
.component-site-header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--base-default-bg-color);
}
.component-site-header .wide-screen-holder {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 1rem; */
}
.logo-icon-holder {
  height: 80%;
}

.header__nav-list {
  visibility: hidden;
}
.nav-list__list-item {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  list-style: none;
}

.hero-section__main-CTA {
  background-color: var(--major-accent-color-blue-1);
}

/* 
------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
            Hero Section Styles

------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
*/

.home-page-main {
  padding-top: var(--header-height);
}
.home-page__hero-section {
  background: var(--hero-section__background);
  color: var(--dark-bg__max-contrast-color);
  padding-bottom: 3rem;
}
.company-name-and-slogan {
  padding-top: 2rem;
  line-height: 1.2;
}
.company-name-and-slogan .company-name {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--minor-accent-color-orange-1);
}
.company-name-and-slogan .company-slogan {
  font-size: 0.9rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: hsla(202 30% 83% / 100%);
}

.main-page__title-question {
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: clamp(30px, 6vw, 60px);
  margin-bottom: clamp(30px, 4vw, 40px);
}
.hero-section__title-blurb {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.3;
  margin-bottom: clamp(30px, 4vw, 40px);
  color: var(--dark-bg__high-contrast-color);
}
.hero-section__main-CTA {
  max-width: 25ch;
  display: block;
}

/* 
------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
                     Who We Are 

------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
*/

.home-page__section-title {
  margin: 2rem 0;
}
.who-we-are__sub-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--major-accent-color-blue-1);
  font-size: 1.6rem;
  margin: 1rem 0;
}
.who-we-are__content-holder {
  display: flex;
  flex-direction: column;
}
.who-we-are__text-content {
  order: 2;
}
.who-we-are__media-content {
  margin-bottom: 2rem;
}
.services-philosophy__venn-holder {
  background: var(--major-accent-color-blue-2);
  width: 100%; 
  aspect-ratio: 1.38;
}
.who-we-are__services-detail-holder {
  font-weight: 300;
}
.who-we-are__serivces-p2 {
  margin: 1rem 0;
}
.who-we-are__services-detail-holder em {
  font-weight: 500;
}

.core-commits-article {
  background-color: var(--major-accent-color-blue-2);
  border-radius: 1rem;
  padding: 1rem;
}
.core-commits-article h4 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color: var(--contrast-color-medium);
}
.core-commits-article ul {
  padding-left: 1rem;
}
.core-commits-article p,
.core-commits-article ul li {
  line-height: 1.3;
  font-weight: 300;
}
.core-commits-article.core-values {
  margin: 1.5rem 0;
}




/* 
------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
      Services

------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
*/


.services-section__consulting-services-holder {
  --top-padding: 1rem;
  box-shadow: .5px 1.5px 4px hsla(0 0% 0% / 25%);
  border-radius: 1rem;
  padding: var(--top-padding) 1rem;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-section__consulting-sub-title {
  font-weight: 300;
  font-size: 1.6rem;
  text-align: center;
  background-color: var(--base-default-bg-color);
  transform: translate(0, calc(-50% - var(--top-padding)));
  padding: 0 1rem;
  z-index: 0;
}

.consulting-services-list {
  padding-left: .5rem;
  margin-bottom: 2rem;
  font-family: "Lora", serif;
  font-size: 1.13rem;
}
.consulting-link {
  font-size: .8rem;
  align-self: flex-end;
}

.services-section__business-services-holder {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.business-services-item {
  --vibrant-link-color: hsla(194 58% 50% / 100%);
  margin: 1.5rem 0;
  box-shadow: .5px 1.5px 4px hsla(0 0% 0% / 25%), .2px 1px 7px hsla(0 0% 0% / 15%);
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.business-services-item > ul {
  padding-left: 1.6rem;
  color: var(--contrast-color-medium);
}
.business-services-item > h4 {
 font-size: 1.5rem;
 font-weight: 600;
 margin-bottom: 1.5rem; 
}
.business-services-item > .button-link {
  border-radius: .4rem;
  padding: .5rem .9rem;
  font-size: .7rem;
  background-color: var(--vibrant-link-color);
  align-self: flex-end;
  margin-top: 1rem; 

}

/* 
------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
      Partner Program

------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
*/

.partner-icons-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin: 2rem 0;
}

.partner-button {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: .8rem;
  border-radius: .4rem;
  background-color: var(--base-default-bg-color);
  aspect-ratio: 2.2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px hsla(0 0% 0% / 5%), .3px .3px 5px hsla(0 0% 0% / 10%);
}
.partner-button.ms-powerbi-button {
  line-height: 1;
  text-align: start;
}

.parter-button-icon {
  height: 90%;
}
.partner-button.ms-powerbi-button .parter-button-icon {
  margin-right: .3rem;
}


/* 
------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
      Leadership Team

------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
*/



/* 
------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
      Customer Success

------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
*/


/* 
------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
      Contact Us

------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
*/

.home-page__contact-section {
  color: #fff;
  background: linear-gradient(
    118.01deg,
    #2f6075 7.37%,
    rgba(2, 42, 59, 0.87) 91.06%
  );
}





/* 
------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
      ---

------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
*/
