.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  will-change: transform;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

.embla::before {
  display: none;
  content: '{"slidesToScroll": 3,"draggable": true}';
}
@media (min-width: 768px) {
  .embla::before {
    content: '{"slidesToScroll": 3,"draggable": false}';
  }
}
