.designer-input.ibx-flexbox{
    align-items: stretch;
    border: 1px solid black;
    border-radius: 0.25em;
    width: min-content;
    padding: 0.5em 0 0.5em 0.5em;
}

.designer-input > .designer-input-text{
    width:10em;
}

.designer-input > .designer-input-button{
    padding: 0;
    margin-right: 0.5em;
}

.designer-input > .designer-input-button,
.designer-input > .designer-input-text > input{
    border: none;
}
.designer-input > .designer-input-text > input{
    outline: none;
}
