.toast-alert-box {
 z-index: 10000;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: fixed;
  right: 16px;
  top: 16px;
}

.toast-alert {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.toast-alert.error {
  border: solid 1px #dc143c;
  background-color: #fdf3f5;
}

.toast-alert.success {
  border: solid 1px #008000;
  background-color: #f0f8f0;
}

.toast-alert.info {
  border: solid 1px #1f3a93;
  background-color: #f7f8fe;
}

.toast-alert.warning {
  border: solid 1px #ea6813;
  background-color: #fdf7f5;
}

.ta-info-icon, .ta-close {
  width: 24px;
  text-align: center;
}

.ta-close {
  cursor: pointer;
}

.toast-alert.error .ta-info-icon, .toast-alert.error .ta-close, .toast-alert.error .ta-title {
  color: #e20541;
}

.toast-alert.success .ta-info-icon, .toast-alert.success .ta-close, .toast-alert.success .ta-title {
  color: #008000;
}

.toast-alert.info .ta-info-icon, .toast-alert.info .ta-close, .toast-alert.info .ta-title {
  color: #1f3a93;
}

.toast-alert.warning .ta-info-icon, .toast-alert.warning .ta-close, .toast-alert.warning .ta-title {
  color:  #ef7300;
}

.ta-center {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.ta-title {
  padding-bottom: 4px;
}

.ta-message {
  padding-bottom: 8px;
  text-overflow: ellipsis;
  word-break: break-word;
}